{% extends "base.html" %}
{% block title %}Registros de imágenes{% endblock %}

{% block content %}
<h1>Registros de imágenes</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Fichero</th>
      <th>Rojo</th>
      <th>Verde</th>
      <th>Azul</th>
    </tr>
  </thead>
  <tbody>
    {% for registro in pixel_counts %}
    <tr>
      <td>{{ registro.id }}</td>
      <td>{{ registro.usuario }}</td>
      <td>{{ registro.timestamp }}</td>
      <td>{{ registro.fichero }}</td>
      <td>{{ registro.pixeles['rojo'] }}</td>
      <td>{{ registro.pixeles['verde'] }}</td>
      <td>{{ registro.pixeles['azul'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
